@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --my-blue: #006aff;
  --my-yellow: #ffd700;
  --my-black: #121212;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(
    circle,
    rgba(63, 63, 63, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );

  color: var(--my-yellow);
}

a {
  text-decoration: none;
  color: #0033ff;
}

h2 {
  font-family: "Cinzel Decorative", cursive;
  font-weight: normal;
  font-size: 73px;
  text-align: center;
  color: var(--my-blue);
}

h3 {
  font-family: "Roboto", sans-serif;
  color: var(--my-yellow);
  margin-bottom: 0.5rem;
  font-size: 136.8%;
  text-transform: uppercase;
  text-indent: 0;
  text-align: right;
  font-weight: 100;
  margin-top: 0;
  font-optical-sizing: auto;
  font-variation-settings:
    "wght" 300,
    "wdth" 75;
  border-bottom: 2px solid whitesmoke;
  animation: focus-in-contract 2s linear;
  transition: transform 1s ease;
  letter-spacing: 1px;
}

h3::first-letter {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 100%;
  color: var(--my-yellow);
  font-optical-sizing: auto;
  font-variation-settings: "ital" 0;
}

h3:hover {
  color: whitesmoke;
  border-bottom: 2px solid var(--my-blue);
  transform: scale(1.1);
}

h3:hover::first-letter {
  color: whitesmoke;
}

li {
  margin: 0.369em auto;
  font-family: "Roboto", sans-serif;
  font-size: 93%;
  text-align: left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0px;
  font-family: monospace;
  margin: 5% 0 0 0;

  color: whitesmoke;
  background: #212121;
  background: linear-gradient(
    360deg,
    rgba(33, 33, 33, 1) 97%,
    rgba(255, 215, 0, 1) 0%
  );
}
.footer i {
  animation: focus-in-contract 2s linear;
  transition: transform 0.5s ease;
  margin: 0 2px;
  cursor: pointer;
}

.footer i:hover {
  transform: scale(1.3);
}
.flex-container {
  display: flex;
  color: #2e2725;
  flex-direction: row;
  width: auto;
  border-right: 5px solid var(--my-blue);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background: var(--my-yellow);
  height: 123px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.unit {
  text-align: center;
  width: auto;
  height: auto;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  column-gap: 30px;
  row-gap: 20px;
  justify-content: center;
  margin: auto 1%;
  margin-bottom: 100px;
  background-color: var(--my-black);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgb(0, 106, 255, 0.2);
}
